<section id="contact" class="pfblock">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="pfblock-header">
                    <h2 class="pfblock-title">Drop me a line</h2>
                    <div class="pfblock-line"></div>

                </div>

            </div>

        </div><!-- .row -->

        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <form  role="form" ng-submit="WritePost()" >

                        <div class="form-group wow fadeInUp">
                            <label class="sr-only" for="c_name">Name</label>
                            <input type="text" id="c_name"  class="form-control" name="c_name" ng-model="post.name" placeholder="Name">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                            <label class="sr-only" for="c_email">Email</label>
                            <input type="email" id="c_email"  class="form-control" ng-model="post.email" placeholder="E-mail">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control"  ng-model="post.message" rows="7" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-lg btn-block wow fadeInUp" ng-disabled="!post.name||!post.email||!post.message"  data-wow-delay=".3s">Send Message</button>


                </form>

            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                <ul class="social-links">
                    <li class="social-linksli"><a  target="_blank" href="https://www.facebook.com/kuden.and.ko" class="social-linkslia"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-linksli"><a target="_blank" href="http://vk.com/rickcy" class="social-linkslia" data-wow-delay=".1s"><i class="fa fa-vk"></i></a></li>


                </ul>

                <p class="heart">
                    Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Russia
                </p>
                <p class="copyright">
                    © 2016 Евгений Куденко
                </p>

            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</footer>
